/* Container */
.container-fluid {
  margin: 0;
  padding: 0;

  display: flex;
  flex-flow: row wrap;

  width: 100%;
  height: 100%;
}

.main-header {
  color: #FFFFFF;
  background-color: #004080;
  width: 100%;
  height: 11%;
}

.main-container {
  background-color: #E9E9E9;
  width: 100%;
  height: 89%;
}

/* Text */
.text-center {
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}
