<div class="container">
  <h2>Secretaria de Gestão Patrimonial</h2>
  <h4>Segunda via de boletos (BB)</h4>
  <form (ngSubmit)="save()">
    <div>
      <label for="name">CPF</label>
      <input type="text" id="registration_cpf" required [(ngModel)]="login.registration" name='registration'>
    </div>
    <div>
      <label for="name">CNPJ</label>
      <input type="text" id="registration_cnpj" required [(ngModel)]="login.registration" name='registration'>
    </div>
    <button type="submit">Limpar</button>
    <button type="submit">Pesquisar</button>
  </form>
</div>
